/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------- */
.button {
  background-color: #AE71E8;
  border: solid #AE71E8;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.button:hover {
  background-color: white;
  color: #AE71E8;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  background-color: #D6D6D6;
}
.container {
  max-width: 100%;
  width: 100%;
}
header {
  background-color: #242424;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  max-height: 141px;
}
img {
  display: block;
}
nav {
  padding: 0 1rem;
}
a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.5rem;
}
a:hover {
  color: #AE71E8;
}
.signup_in {
  background-color: #AE71E8;
  border: solid #AE71E8;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.signup_in:hover {
  background-color: white;
  color: #AE71E8;
  border-color: white;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: 0.9rem;
}
.section-landing {
  max-width: 100%;
  height: 750px;
  background-image: url("astronaut-4106766_1920.png");
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}
.landingh1 {
  font-size: 1.8em;
  color: white;
  max-width: 80%;
  text-align: center;
}
.landingdiv {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scalingdiv {
  height: 50%;
}
.section-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem 0;
  font-size: 1.6rem;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .section-top {
    width: 90%;
    flex-direction: column;
    padding: 3rem 0rem;
  }
}
.div1 {
  width: 20%;
}
@media (max-width: 750px) {
  .div1 {
    width: 100%;
    order: 2;
    padding-bottom: 3rem;
  }
  .div1 h1 {
    text-align: center;
  }
  .div1 p {
    text-align: center;
  }
}
.div2 {
  width: 20%;
}
@media (max-width: 750px) {
  .div2 {
    width: 100%;
    order: 1;
    padding-bottom: 3rem;
  }
  .div2 h1 {
    text-align: center;
  }
  .div2 p {
    text-align: center;
  }
}
.div3 {
  width: 20%;
}
@media (max-width: 750px) {
  .div3 {
    width: 100%;
    order: 3;
  }
  .div3 h1 {
    text-align: center;
  }
  .div3 p {
    text-align: center;
  }
}
.section-bottom {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
@media (max-width: 650px) {
  .section-bottom {
    width: 60%;
  }
}
@media (max-width: 585px) {
  .section-bottom {
    width: 40%;
  }
}
@media (max-width: 475px) {
  .section-bottom {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .section-bottom {
    width: 65%;
  }
}
.twobuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.onebutton {
  width: 100%;
  margin: 1rem auto;
}
.halfsizedbutton {
  width: 49.5%;
  background-color: #AE71E8;
  border: solid #AE71E8;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.halfsizedbutton:hover {
  background-color: white;
  color: #AE71E8;
}
.fullsizedbutton {
  width: 100%;
  background-color: #AE71E8;
  border: solid #AE71E8;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fullsizedbutton:hover {
  background-color: white;
  color: #AE71E8;
}
.section-middle {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3rem auto;
  align-items: center;
}
.divbottom {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  align-items: center;
}
@media (max-width: 650px) {
  .divbottom {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.divicon {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 650px) {
  .divicon {
    margin: 1rem 0;
  }
}
h2 {
  text-align: center;
}
#h1advantages {
  font-size: 3.2rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3.5rem 0;
}
